$important-color: #ffffff;
$third-color: #2F2F2F;
$fourth-color: #ACACAC;
$secondary-color: #24A843;
$primary-color: #050505;
$button-border-radius: 50px;




.explore-item {
  color: $secondary-color;
  text-decoration: none;
  font-weight: bold;
  background-color: #deffe4;
  border-radius: $button-border-radius;
  -webkit-border-radius: $button-border-radius;
  -moz-border-radius: $button-border-radius;
  -ms-border-radius: $button-border-radius;
  -o-border-radius: $button-border-radius;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.btn-success{
  background-color: $secondary-color;
}

a{
  text-decoration: none;
}
a :hover{
  text-decoration: underline;
}

label, span{
  color: #5a5858;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-text{
  font-family: 'DynaPuff';
  font-size: 50px;
  color:rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000, 1px 1px 0 #000000;
}

.welcome-text{

  text-shadow: 0 0 3px #24A843;
}

.user-border{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(22, 216, 54, 0.23) 0px 3px 6px;
  border-radius:20px ;
  -webkit-border-radius:20px ;
  -moz-border-radius:20px ;
  -ms-border-radius:20px ;
  -o-border-radius:20px ;
  padding: 15px;

}
