$important-color: #ffffff;
$third-color: #2F2F2F;
$fourth-color: #f3f3f3;
$secondary-color: #24A843;
$primary-color: #050505;

.col-item{
  background-color:$fourth-color ;
}

.checked {
  color: orange;
}

