<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row p-5 p-md-1 ">
          <div class="col-md border rounded col-item p-4 m-2">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur,Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <div class="d-flex justify-content-between">
                <p>Lorem ipsum dolor sit.</p>
                <p class="text-secondary">11 jun/2022</p>
              </div>
          </div>

          <div class="col-md border rounded col-item p-4 m-2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur,Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet </p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="d-flex justify-content-between">
              <p>Lorem ipsum dolor sit.</p>
              <p class="text-secondary">11 jun/2022</p>
            </div>
          </div>

          <div class="col-md border rounded col-item p-4 m-2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur amet consectetur</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="d-flex justify-content-between">
              <p>Lorem ipsum dolor sit.</p>
              <p class="text-secondary">11 jun/2022</p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row p-5 p-md-1 ">
          <div class="col-md border rounded col-item p-4 m-2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur,Lorem ipsum
              dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="d-flex justify-content-between">
              <p>Lorem ipsum dolor sit.</p>
              <p class="text-secondary">11 jun/2022</p>
            </div>
          </div>

          <div class="col-md border rounded col-item p-4 m-2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur,Lorem ipsum
              dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet </p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="d-flex justify-content-between">
              <p>Lorem ipsum dolor sit.</p>
              <p class="text-secondary">11 jun/2022</p>
            </div>
          </div>

          <div class="col-md border rounded col-item p-4 m-2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit Lorem ipsum dolor sit amet
              consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur amet consectetur</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="d-flex justify-content-between">
              <p>Lorem ipsum dolor sit.</p>
              <p class="text-secondary">11 jun/2022</p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row p-5 p-md-1 ">
          <div class="col-md border rounded col-item p-4 m-2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur,Lorem ipsum
              dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="d-flex justify-content-between">
              <p>Lorem ipsum dolor sit.</p>
              <p class="text-secondary">11 jun/2022</p>
            </div>
          </div>

          <div class="col-md border rounded col-item p-4 m-2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur,Lorem ipsum
              dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit amet </p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="d-flex justify-content-between">
              <p>Lorem ipsum dolor sit.</p>
              <p class="text-secondary">11 jun/2022</p>
            </div>
          </div>

          <div class="col-md border rounded col-item p-4 m-2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elitLorem ipsum dolor sit Lorem ipsum dolor sit amet
              consectetur, adipisicing elitLorem ipsum dolor sit amet consectetur amet consectetur</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div class="d-flex justify-content-between">
              <p>Lorem ipsum dolor sit.</p>
              <p class="text-secondary">11 jun/2022</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
