<div class="container d-flex flex-column text-center align-items-center justify-content-center">
  <h1><span>Choose</span> listing type</h1>
  <div class="row mb-5 mt-5 px-lg-5 mx-lg-5">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <a href="" [routerLink]="['/itemlisting']">
        <div class="card text-center">
          <div class="card-body">
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="bi bi-cart-fill"></i>
            </div>
            <h5 class="card-title pt-4 fw-bold">Item for Sale</h5>
            <p class="card-text">Creating listing for single or multiple items to sell</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <a href="" [routerLink]="['/vehiclelisting']">
        <div class="card text-center">
          <div class="card-body">
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="bi bi-car-front-fill"></i>
            </div>
            <h5 class="card-title pt-4 fw-bold">Vehicle for Sale</h5>
            <p class="card-text">Creating listing for your car, truck or other type of vehicles</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
      <a href="" [routerLink]="['/homelisting']">
        <div class="card text-center">
          <div class="card-body">
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="bi bi-house-door-fill"></i>
            </div>
            <h5 class="card-title pt-4 fw-bold">Home for Sale/Rent</h5>
            <p class="card-text">Creating listing for single or multiple apartments available to sell/rent</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
