
  <!-- Footer -->
  <footer class="text-center text-white pt-5">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: CTA -->
      <section class="d-flex flex-column justify-content-center align-items-center ">

        <a class="navbar-brand mb-4" [routerLink]="['/mainpage']">PrimePick</a>
        <ul class="navbar-nav d-flex flex-row pb-5">
        <li class="nav-item mx-2">
          <a class="nav-link p-lg-3" [routerLink]="['/mainpage']">Explore</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link p-lg-3" [routerLink]="['/aboutus']">About Us</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link p-lg-3" [routerLink]="['/support']">Support</a>
        </li>
      </ul>
      <hr>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class=" d-flex flex-column flex-lg-row flex-md-column justify-content-lg-around align-items-center pb-5 pt-0">
      <p class="text-gray">Developed by : Mayar Atef </p>
      <p class="text-gray">© 2023 PrimePick. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="nav-item mx-2">
          <a class="text-gray nav-link" [routerLink]="['/mainpage']">Terms</a>
        </li>
        <li class="nav-item mx-2">
          <a class="text-gray nav-link" [routerLink]="['/mainpage']">Privacy</a>
        </li>
        <li class="nav-item mx-2">
          <a class="text-gray nav-link" [routerLink]="['/mainpage']">Cookies</a>
        </li>
      </ul>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

